.card {
    margin: 0 0 1em;
    padding: 0;
    width: 100%;

    display: inline-flex;
    flex-direction: column;

    transform: translateY(0);
    transition: transform .3s ease;

    background: var(--white);
    color: var(--text-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}

.card:hover {
    transform: translateY(-3px);
}

.card-course {
    margin: 1em auto;
    max-width: 720px;

    text-align: center;
}

.card-content {
    padding: 1em;
}